/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Set default display for new HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    box-sizing: border-box;
}

/* Body defaults */
body {
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Remove list styles */
ol,
ul {
    list-style: none;
}

/* Remove quotes for blockquote and q elements */
blockquote,
q {
    quotes: none;
}

/* Border collapsing for tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Anchor tag default styles */
a {
    color: inherit;
    text-decoration: none;
}

/* Image to inherit width */
img {
    width: inherit;
}

/* Reset buttons, inputs, selects, textareas */
button,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    padding: 0;
    border: none;
    background-color: unset;
}

/* Custom variables */
:root {
    --color-primary: #2A7AE4;
    --color-white: #FFF;
    --color-black: #000;
    --color-light-gray: #EDEDED;
    --color-medium-gray: #464646;
    --color-medium-green: #008000;
}

/* HEADER */

.about-container {
    padding: 30px 120px;
    margin: 0 auto;
    font-size: 16px;
    height: 88px;
    width: 1136px;
}

.about-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.about-itens {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 2em;
    color: var(--color-medium-gray);
}

.name,
.persona-email {
    color: var(--color-medium-gray);
    font-size: 1.5rem;
    font-size: 16px;
    font-weight: 700;
}


/* INITIAL SECTION */
.initial-section-container {
    padding: 30px 60px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    /* Texto e imagem se afastam */
    align-items: flex-start;
    flex-wrap: wrap;
    /* Flexível para telas menores */
}

.initial-section-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    /* Limita a largura do bloco de texto */
    flex: 1;
    /* Expande para ocupar espaço disponível */
}

.hello-text {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 48px;
    line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    /* Controla a quebra de palavras */
    white-space: normal;
    /* Impede que o texto force quebras desnecessárias */
    max-width: 100%;
    /* Garante que o texto não ultrapasse a largura do container */
}

.about-initial-text {
    margin-top: 20px;
    font-size: 20px;
    color: var(--color-medium-gray);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    word-wrap: break-word;
    /* Controla quebras de palavras */
    white-space: normal;
    /* Não forçar quebras */
    max-width: 100%;
    /* Limita a largura do parágrafo */
}

.initial-section-list {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    padding-left: 0;
    flex-wrap: wrap;
    /* Permite que os links se ajustem em telas menores */
}

.initial-section-list li::after {
    content: url('./assets/icons/up-arrow.svg');
    /* Caminho para o seu ícone */
    position: absolute;
    right: -10px;
    /* Ajuste a posição conforme necessário */
    top: 50%;
    transform: translateY(-50%);
}

.initial-section-list li {
    position: relative;
    /* Necessário para o posicionamento absoluto do ícone */
    list-style: none;
    /* Remove o estilo de lista padrão */
}

.initial-section-list a {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.initial-section-list a:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.portfolio-picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 20px;
}

/* ABOUT ME */
.about-me-section {
    background-color: rgba(42, 122, 228, 0.3);
    width: 100%;
    min-height: 300px;
    padding: 60px 0;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: flex-start;
}

.about-me-title {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    text-align: left;
    margin-bottom: 20px;
}

.about-me-container p {
    margin-bottom: 20px;
    color: var(--color-medium-gray);
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
}

/* SKILLS SECTION */
.skills-section {
    color: var(--color-medium-gray);
    width: 100%;
    padding: 60px 0;
    background-color: var(--color-light-gray);
}

.skills-container {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: center;
}

.skills-container h3 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}

.skill-item {
    background-color: white;
    padding: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.skill-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.skill-item p {
    margin: 0;
    font-weight: 500;
    color: var(--color-medium-gray);
}

/* HOBBIES SECTION */
.hobbies-section {
    color: var(--color-medium-gray);
    width: 100%;
    padding: 60px 0;
    background-color: var(--color-light-gray);
}

.hobbies-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: center;
}

.hobbies-container h3 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.hobbies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}

.hobby-item {
    background-color: white;
    padding: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.hobby-item img {
    fill: var(--color-primary);
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.hobby-item p {
    margin: 0;
    font-weight: 500;
    color: var(--color-medium-gray);
}

/* ACADEMIC SECTION */
.academic-section {
    background-color: rgba(42, 122, 228, 0.3);
    width: 100%;
    min-height: 300px;
    padding: 60px 0;
}

.academic-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: center;
}

.academic-container h3 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.academic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}


.academic-item {
    background-color: white;
    padding: 20px;
    width: 370px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.academic-item img {
    fill: var(--color-primary);
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.academic-item h2 {
    padding-top: 30px;
    font-weight: bold;
    color: var(--color-medium-gray);
}

.academic-item p {
    margin: 0;
    font-weight: 500;
    color: var(--color-medium-gray);
    padding-top: 10px;
}

/* Experience Section */

.experience-section {
    color: var(--color-medium-gray);
    width: 100%;
    padding: 60px 0;
    background-color: var(--color-light-gray);
}

.experience-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 30px;
}

.experience-container h3 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experience-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    gap: 40px;
}

.experience-item img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.experience-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.experience-text h4 {
    font-size: 24px;
    color: var(--color-primary);
}

.experience-text p {
    font-size: 16px;
    color: var(--color-medium-gray);
}

.repo-button {
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.repo-button:hover {
    background-color: var(--color-medium-green);
}

/* Other projects section */
.other-projects-section {
    color: var(--color-medium-gray);
    width: 100%;
    padding: 40px 0;
    background-color: var(--color-light-gray);
}

.other-projects-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1100px;
}

.other-projects-container h3 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.other-projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.other-project-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    width: 220px;
    height: 320px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.other-project-item img {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.other-project-text h4 {
    font-size: 18px;
    color: var(--color-medium-gray);
    margin-bottom: 10px;
}

.other-project-text p {
    font-size: 14px;
    color: var(--color-medium-gray);
    margin-bottom: 15px;
}

.repo-button {
    background-color: var(--color-primary);
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

/* Contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 122, 228, 0.3);
    width: 100%;
    min-height: 300px;
    padding: 60px 0;
}

.contact-container {
    display: flex;
    padding: 0 60px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: flex-start;
}

.contact-container h2 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.contact-container p {
    color: var(--color-medium-gray);
    font-weight: 400;
    margin-left: 30px;
}

/* Form styles */
/* Contact section */
.contact-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(42, 122, 228, 0.3);
    width: 100%;
    min-height: 300px;
    padding: 60px 0;
}

.contact-container {
    display: flex;
    padding: 0 60px;
    margin: 0 auto;
    font-size: 16px;
    max-width: 1100px;
    align-items: flex-start;
}

.contact-container img {
    width: 465px;
   height: auto;
}

.contact-text h2 {
    margin-left: 25px;
}

.contact-info {
    margin-left: 20px;
}

.contact-info h2 {
    color: var(--color-medium-gray);
    font-weight: bold;
    font-size: 32px;
}

.contact-info p {
    color: var(--color-medium-gray);
    font-weight: 400;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 10px;
}

.contact-form input,
.contact-form button {
    background-color: var(--color-white);
    height: 56px;
    width: 660px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    font-family: inherit;
    color: var(--color-medium-gray);
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button {
    width: auto;
}

.contact-form textarea {
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
}

.send-button {
    background-color: var(--color-white);
    /* mantém o fundo branco */
    color: var(--color-medium-gray);
    /* texto na cor cinza */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.send-button:hover {
    background-color: var(--color-medium-green);
    /* cor de fundo ao hover */
    color: var(--color-white);
    /* muda a cor do texto ao hover */
    cursor: pointer;
}

/* Footer Section */
.footer-section {
    background-color: var(--color-white);
    padding: 20px 0;
    width: 100%;
    height: 38px;
    text-align: center;
    font-size: 16px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 20px;
}

.footer-container h3 {
    color: var(--color-medium-gray);
}

/* Responsive Design */
/* Media Query for Tablets */
@media (max-width: 768px) {

    /* ABOUT */
    .about-container {
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        margin: 0;
    }

    .name {
        margin: 0;
    }

    .about-container ul {
        display: flex;
        gap: 370px;
    }

    .about-me-item,
    .skills-item,
    .hobbies-item,
    .education-item,
    .projects-item,
    .contact-item {
        display: none;
        /* Esses itens não aparecerão */
    }

    .persona-email {
        margin: 0;
    }

    /* INITIAL */
    .initial-section-container {
        display: flex;
        flex-direction: column;
    }

    .initial-section-text {
        margin: 0 auto;
        text-align: center;
    }

    .initial-section-list {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .initial-section-list li {
        margin: 10px 0;
        margin-left: 20px;
    }

    .portfolio-picture {
        display: none;
        /* Imagens da seção inicial não aparecem */
    }

    /* Experience */
    /* Experience section */
    .experience-item {
        flex-direction: column;
    }

    .experience-item img {
        width: 100%;
        height: auto;
    }

    .experience-text {
        align-items: center;
    }

    /* Contact */
    .contact-container {
        margin: 0;
        padding: 0;
    }

    .contact-text {
        text-align: left;
    }

    .contact-text h2 {
        margin-left: 50px;
    }

    .contact-text p {
        margin-left: 50px;
    }

    .contact-form {
        margin-left: 50px;
    }

    .contact-container img {
        display: none;
        /* Imagens na seção de contato não aparecem */
    }
}

@media (max-width: 320px) {

    .about-container ul {
        display: none;
    }

    .hello-text {
        font-size: 30px;
        margin: auto;
    }

    .initial-section-container {
        padding: to;
    }

    .academic-item img {
        height: 50px;
    }

    .about-initial-text {
        font-size: 12px;
    }


    .academic-item {
        width: 80%;
        margin: 5px auto;
    }

    .academic-item img {
        height: 50px;
    }

    .contact-form {
        width: 100%;
        margin: 10px auto;
        padding: 5px;
        box-sizing: border-box;
    }

    .contact-form input,
    .contact-form textarea {
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 30px;
    }

    .contact-text h2 {
        margin-left: 35px;
        font-size: 16px;
    }

    .contact-text p {
        font-size: 12px;
        margin-left: 35px;
    }

    .contact-form button {
        display: flex;
        width: 50%;
        padding: 10px;
        font-size: 16px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin-left: 80px;
    }

    .contact-form button:hover {
        background-color: var(--color-medium-green);
    }

}